
@model IEnumerable<ApplicationUser>
<h1>All users</h1>
<br />
<br />

<div class="row justify-content-center align-items-center mt-5">
    <form class="row col-8 offset-2" asp-action="Index" asp-controller="User">
        <div class="col-8">
            <input type="text" class="form-control" name="searchInp" placeholder="Search by name" />

        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-success" />


        </div>

    </form>

</div>
<div class="mt-5 alert alert-danger">
    <h3>@ViewBag.Message</h3>
</div>

@if (Model.Count() > 0)
{

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(d => d.Id)</th>
                <th>@Html.DisplayNameFor(d => d.UserName)</th>
                <th>@Html.DisplayNameFor(d => d.Email)</th>



                <th>Details</th>
                <th>Updates</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(M => item.Id)</td>
                    <td>@Html.DisplayFor(M => item.USerName)</td>
                    <td>@Html.DisplayFor(M => item.Email)</td>

                    <partial name="_ButtonPartialView" model="item.Id.ToString()" />

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-5 alert alert-warning">
        <h3>there is no department</h3>
    </div>
}
